.about{
    width: 100%;
    height: auto;
    background-color: rgb(4, 51, 129);
    margin: 0;
    padding: 0;
}

.about>.contain{
    margin-top: 120px;
    width: 100%;
    height: 400px;
    background-color: rgb(4, 51, 129);
}

.about>.zad{
    width: 340px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url('../assets/imgs/icons/banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.about>.contain>.navigation{
    width: 300px!important;
    position: absolute;
    top: 250px;
    left: 120px;
    display: flex;
    flex-direction: column;
}

.about h1{
    color: white;
    font-size: 55px;
    width: 100%;
    font-family: sans-serif;
}

.about a,.about a:visited,.about a:active{
    font-size: 16px;
    color: rgb(115, 141, 185);
    font-family: sans-serif;
    transition: color 0.3s;
    font-weight: 600;
}

.about>.contain>.navigation>p{
    width: 100%;
}

.about>.contain>.navigation>p>a:hover{
    color: white;
    transition: color 0.3s;
}

.a1{
    width: 100vw;
    height: auto;
    padding: 65px;
    background-color: white;
}

.a1>h2,.a1>p,.a1>div{
    color: black;
    text-align: justify;
    font-weight: normal;
}


.a1>button{
    background-color: rgb(4, 51, 129);
    transition: 0.3s all;
    border: 1px solid white;
    width: 120px;
    height: 40px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: none;
}

.a1>button:hover{
    background-color: white;
    color: rgb(4, 51, 129);
    border: 1px solid rgb(4, 51, 129);
    transition: 0.3s all;
}

@media screen and (max-width:768px){
    .about>.contain>.navigation{
        left: 10%;
    }

    .about>.contain>.navigation>h1{
        font-size: 40px;
    }

    .about>.zad{
        width: 200px;
        height: 210px;
    }
    
}