.connection{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 51, 129);
}

.connection>.contain{
    margin-top: 120px;
    width: 100%;
    height: 400px;
    background-color: rgb(4, 51, 129);
}

.connection>.zad{
    width: 340px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url('../assets/imgs/icons/banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.connection>.contain>.navigation{
    width: 300px!important;
    position: absolute;
    top: 250px;
    left: 120px;
    display: flex;
    flex-direction: column;
}

.connection h1{
    color: white;
    font-size: 55px;
    width: 100%;
    font-family: sans-serif;
}

.connection a,.about a:visited,.about a:active{
    font-size: 16px;
    color: rgb(115, 141, 185);
    font-family: sans-serif;
    transition: color 0.3s;
    font-weight: 600;
}
.connection>.contain>.navigation>p{
    width: 100%;
}
.connection a:hover{
    color: white;
    transition: color 0.3s;
}

.connectwith{
    width: 100%;
    height: auto;
    display: flex;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.connectwith>.call,.connectwith>.mail,.connectwith>.map{
    width: 300px;
    margin: 27px;
    height: 300px;
    background-color: white;
    border: 1.6px solid rgb(245, 245, 245);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:0.2s all;
}

.connectwith .zaddd{
    width: 80px;
    height: 80px;
    box-shadow: rgba(128, 128, 128, 0.178) 1px 1px 15px;
    border: 1px solid rgba(229, 234, 242, 0);
    border-radius: 7px;
    transition: 0.2s all;
}

.connectwith>.call>.zaddd{
    background: url('../assets/imgs/icons/phone.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.connectwith>.mail>.zaddd{
    background: url('../assets/imgs/icons/tel.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.connectwith>.map>.zaddd{
    background: url('../assets/imgs/icons/gmap.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.connectwith>.call:hover,.connectwith>.mail:hover,.connectwith>.map:hover{
    border: 1.5px solid rgba(245, 245, 245, 0);
    box-shadow: rgba(128, 128, 128, 0.178) 0.14vw 0.14vw 1.2vw;
    transition:0.2s all;
}

.connectwith>div:hover .zaddd{
    box-shadow: none;
    border: 1px solid rgb(229, 234, 242);
    transition: 0.2s all;
}

.connectwith h4{
    margin-top: 25px;
}

.connectwith a,.connectwith a:visited,.connectwith a:active,.connectwith a:hover,.connectwith p{
    font-size: 15;
    color: rgb(102, 102, 102);
    font-weight: 100;
    margin-top: 15px;
}

.followus{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(4, 51, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
    flex-direction: column;
    border-bottom: 1px solid white;
}

.onezad{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.followus>h1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    margin: auto;
    width: 190px;
    margin: 20px;
}

.one{
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.one>a>div{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 51, 129);
    border-radius: 50%;
    transition:background-color 0.2s;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
}

.one>a>.fb>.icon{
    width: 48px;
    height: 48px;
    background: url('../assets/imgs/icons/facebook.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 0.2s;
}

.one>a>.in>.icon{
    width: 48px;
    height: 48px;
    background: url('../assets/imgs/icons/instagram.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 0.2s;
}

.one>a>.tw>.icon{
    width: 48px;
    height: 48px;
    background: url('../assets/imgs/icons/twitter.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 0.2s;
}

.one>a>.te>.icon{
    width: 48px;
    height: 48px;
    background: url('../assets/imgs/icons/telegram.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 0.2s;
}

.one>a>div:hover{
    background-color: rgb(234, 234, 234);
    transition:background-color 0.2s;
    border:1px solid rgb(4, 51, 129);
}

.one>a>.tw:hover .twicon{
    background: url('../assets/imgs/icons/btwitter.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 0.2s;
}

.one>a>.fb:hover .fbicon{
    background: url('../assets/imgs/icons/bfacebook.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 0.2s;
}

.one>a>.te:hover .teicon{
    background: url('../assets/imgs/icons/btelegram.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 0.2s;
}

.one>a>.in:hover .inicon{
    background: url('../assets/imgs/icons/binstagram.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition:background-color 0.2s;
}

@media screen and (max-width:768px){
    .connection>.contain>.navigation{
        left: 10%;
        width: 150px!important;
    }

    .connection>.contain>.navigation>h1{
        font-size: 40px;
    }

    .connection>.zad{
        width: 200px;
        height: 210px;
    }

    .followus>h1{
        font-size: 30px;
        text-align: center;
    }

    .one>a>div{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(4, 51, 129);
        border-radius: 50%;
        transition:background-color 0.2s;
        cursor: pointer;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 100%;
    }
    
    .one>a>.fb>.icon{
        width: 36px;
        height: 36px;
        background: url('../assets/imgs/icons/facebook.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        transition:background-color 0.2s;
    }
    
    .one>a>.in>.icon{
        width: 36px;
        height: 36px;
        background: url('../assets/imgs/icons/instagram.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        transition:background-color 0.2s;
    }
    
    .one>a>.tw>.icon{
        width: 36px;
        height: 36px;
        background: url('../assets/imgs/icons/twitter.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        transition:background-color 0.2s;
    }
    .one>a>.te>.icon{
        width: 36px;
        height: 36px;
        background: url('../assets/imgs/icons/telegram.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        transition:background-color 0.2s;
    }

    
}