@font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal; }
  
  @font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic; }
  
  @font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal; }
  
  @font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic; }
  
  @font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal; }
  
  @font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic; }
  
  @font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal; }
  
  @font-face {
    font-family: "Circular Std";
    src: url("../assets/fonts/CircularStd-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic; }