li{
    list-style-type: none!important;
}

.footer{
    width: 100vw;
    height: auto;
    background-color: rgb(4, 51, 129);
    display: flex;
    padding: 60px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer>.connectContain,.footer>.menu{
    border-radius: 20px;
    width: 360px;
    height:530px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer>.menu{
    background-color: rgb(4, 51, 129);
    border: 1px solid rgb(204, 211, 220);
}

.footer>.connectContain{
    margin-right: 40px;
}

.footer>.menu{
    margin-left: 40px;
    justify-content: center;
}

.footer>.connectContain>.logo{
    margin-top: 30px;
    width: 222px;
    height: 55px;
    background: url('../assets/imgs/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer>.connectContain>.text{
    width: 305px;
    height: 96px;
    color: rgb(102, 102, 102);
    font-size: 16px;
    margin-top: 50px;
    font-family: sans-serif;
    line-height: 1.7;
}

.footer>.connectContain>h4{
    width: 85%;
    color: rgb(64, 64, 64);
    margin: 10px;
    font-size: 24px!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer>.connectContain>ul{
    width: 90%;
    height: 105px;
}

.footer>.connectContain>ul>li,.connectContain>ul>li>a{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color:rgb(64, 64, 64);
    font-family: sans-serif;
}

.footer>.connectContain>ul>li>.item1{
    width: 20px;
    height: 20px;
    background: url('../assets/imgs/icons/marker.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 15px;
}

.footer>.connectContain>ul>li>.item2{
    width: 20px;
    height: 20px;
    background: url('../assets/imgs/icons/mail.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 15px;
}

.footer>.connectContain>ul>li>.item3{
    width: 17px;
    height: 17px;
    background: url('../assets/imgs/icons/call.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 15px;
}

.footer>.connectContain .sendMail{
    width: 85%;
    height: 45px;
    display: flex;
}

.footer>.connectContain>.sendMail>input{
    width: 218px;
    height: 45px;
    border: 1px solid rgb(204, 211, 220);
    font-size: 20px;
    padding: 0 20px 0 20px;
}

.footer>.connectContain>.sendMail>a>button{
    width: 46px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 153, 192);
    border: none;
    cursor: pointer;
    transition:0.2s all;
}

.footer>.connectContain>.sendMail>a>button>img{
    width: 30px;
    height: 30px;
}

.footer>.connectContain>.sendMail>a>button:hover{
    background-color: rgb(46, 82, 139);
    transition:0.2s all;
}

.footer>.menu>ul>li>a{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color:rgb(188, 195, 208);
    font-family: sans-serif;
}

.footer>.menu>ul>li{
    width: 100%;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 40px 3px 40px;
    padding-bottom: 0;
}

.footer>.menu>ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0!important;
}

hr{
    width: 80%;
}

.menu h3{
    color: rgb(188, 195, 208);
}

.menu hr{
    border-color: rgb(188, 195, 208);
}

li>a>.icon1{
    width: 22px;
    height: 22px;
    background: url('../assets/imgs/icons/m_main_menu.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:10px;
}

li>a>.icon2{
    width: 22px;
    height: 22px;
    background: url('../assets/imgs/icons/m_blog.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:10px;
}

li>a>.icon3{
    width: 22px;
    height: 22px;
    background: url('../assets/imgs/icons/m_about.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:10px;
}

li>a>.icon4{
    width: 22px;
    height: 22px;
    background: url('../assets/imgs/icons/m_connection.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:10px;
}

.copyright{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copyright>.logo{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 50px;
    background: url('../assets/imgs/mazad-round.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.copyright>.text{
    color:rgb(255, 255, 255);
}



@media screen and (max-width:920px){

    .footer>.menu,.footer>.connectContain{
        width: 300px!important;
    }

    .footer>.connectContain>.logo{
        margin-top: 30px;
        width: 182px;
        height: 40px;
        background: url('../assets/imgs/logo.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .footer>.connectContain>.text{
        width: 260px;
        height: 96px;
        color: rgb(102, 102, 102);
        font-size: 16px;
        margin-top: 30px;
        padding: 0 5px 0 5px;
        font-family: sans-serif;
        line-height: 1.7;
    }

    .footer>.connectContain>h4{
        width: 85%;
        color: rgb(64, 64, 64);
        margin: 10px;
        margin-top: 60px;
        font-size: 24px!important;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .footer>.connectContain>.sendMail>input{
        width: 190px;
        height: 45px;
        border: 1px solid rgb(204, 211, 220);
        font-size: 20px;
        padding: 0 20px 0 20px;
    }

}

@media screen and (max-width:799px){

    .footer>.menu{
        margin: 20px;
    }

    .footer>.connectContain>h4{
        margin-top: 40px;
    }

    .footer>.connectContain>.text{
        width: 300px!important;
        padding: 0 20px 0 20px;
    }
    
    .footer>.connectContain{
        margin: 20px;
    }

    .footer>.menu>ul{
        width: 300px!important;
    }

}

@media screen and (max-width:768px){
    .copyright{
        width: 100%;
        height: 160px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .copyright>.logo{
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
        border: 1px solid white;
        border-radius: 100%;
        margin-right: 0px;
        background: url('../assets/imgs/mazad-round.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .copyright>.text{
        width: 80%;
        color:rgb(255, 255, 255);
        text-align: center;
    }
}