.header{
    width: 100vw;
    height: 100px;
    padding: 0 35px 0 35px;
    position: fixed!important;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center!important;
    transition: 0.4s all;
    z-index: 123123;
}

.logo{
    width: 222px;
    height: 55px;
    background: url('../assets/imgs/logo-white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.tools{
    width: 112px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools>.search{
    width: 25px;
    height: 25px!important;
    background: url('../assets/imgs/icons/search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.tools>.search:hover{
  transform: scale(1.1);
  transition:0.2s all;
}


.tools>.menu{
    width: 40px;
    height: 40px!important;
    background: url('../assets/imgs/icons/menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:0.2s all;
}

.tools>.menu:hover{
  transform: scale(1.1);
  transition:0.2s all;
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center!important;
}

.navigation>ul{
    display: flex;
    margin: 0px!important;
}

.navigation>ul>li{
  list-style-type: none;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid rgba(204, 214, 229, 0);
  border-radius: 10px;
  margin-right: 20px;
  transition:0.1s all;
}

.navigation>ul>li>a,.navigation>ul>li>a:visited,.navigation>ul>li>a:active{
    text-decoration: none;
    color: rgb(224, 224, 224);
    font-family: sans-serif;
    font-weight: 500;
    transition: color 0.1s;
    font-size: 18px;
    padding-bottom: 0px;
}

.navigation>ul>li>a:hover{
    color:white;
    transition:0.1s all;
}

.m_navigation,.m_menu{
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .header{
    justify-content: space-between;
  }

  .logo{
    width: 150px;
    height: 55px;
}

  .navigation{
    width: 100%!important;
  }

  .navigation>ul>li{
    margin-left: 3px;
    margin-right: 3px;
  }

  .navigation>ul>li>a{
    font-size: 18px;
  }

}

@media screen and (max-width: 768px) {

  .m_menu{
    display: block;
    width: 40px;
    height: 40px!important;
    background: url('../assets/imgs/icons/m_menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    margin-left: 10px;
  }

  .logo{
    width: 150px;
  }

  .tools{
    width: 90px;
    justify-content: center;
  }

}