.m_navigation{
    background-color: rgba(0, 0, 0, 0.829);
    display: none;
}

@media screen and (max-width: 768px) {

    .navigation,.menu{
      display: none;
    }
  
    .m_navigation{
      top: 0;
      display: flex;
      position: fixed;
      margin-left: 200%;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      z-index: 12312312412342134123123123!important;
      transition: 0.3s all;
    }
  
    .m_navigation>ul{
      display: flex;
      flex-direction: column;
      padding: 0 0 0 40px;
    }
  
    .m_navigation>ul>li{
      list-style-type: none;
      margin-top: 40px;
    }
  
    .m_navigation a,.m_navigation a:visited,.m_navigation a:active{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 20px;
    }

    .m_navigation>.close{
        width: 40px;
        height: 40px;
        background: url('../assets/imgs/icons/close.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
    }
  
  }