.searchContent{
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-left: 200%;
    background-color: rgba(0, 0, 0, 0.829);
    transition: 0.3s all;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 12312312312312312312!important;
}

.searchContent>form>input{
    width: 500px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 0 20px 0 20px;
    color: rgb(0, 0, 0);
    transition:0.2s all;
}

.searchContent>form>input:hover,.searchContent>form>input:focus{
    transform: scale(1.05);
    transition:0.2s all;
}

.searchContent>form{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.searchContent>form>button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 15px;
    border: none;
    background-color: rgb(0, 0, 0);
    background: url('../assets/imgs/icons/search.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition:0.2s all;
}

.searchContent>form>button:hover{
    transform: scale(1.3);
    transition:0.2s all;
}


.searchContent>.close{
    border: none;
    margin-bottom: 60px;
    width: 40px;
    height: 40px;
    background: url('../assets/imgs/icons/close.png');
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    transition:transform 0.2s!important ;
}

.searchContent>.close:hover{
    transform: scale(1.3)!important;
    transition:transform 0.2s!important;
}


@media screen and (max-width: 768px) {

    .searchContent>form{
        flex-direction: column!important;
    }

    .searchContent>form>input{
        width: 300px;
        height: 45px;
        font-size: 15px;
    }

    .searchContent>form>button{
        margin: 50px 0 0 0;
    }

}