.mailContent{
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-left: 200%;
    background-color: rgba(0, 0, 0, 0.829);
    transition: 0.3s all;
    top: 0;
    z-index: 123123123123123;
}


@media screen and (max-width: 768px) {
    .mailContent{
        display: none;
    }
}