:root {
  --main-color: rgb(4, 51, 129);
  --heading-color: rgb(64, 64, 64);
  --paragraph-color: rgb(102, 102, 102);
  --body-font: 'Circular Std';
  --secondary-font: 'Open Sans', sans-serif; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--body-font); 
}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing:antialiased;
  font-family: sans-serif!important; 
}

.m_navigation>ul>li>hr{
  border-color: rgb(175, 174, 174);
  width: 100%;
}

a:hover{
  text-decoration: none;
}

body {
  margin: 0;
  color: rgb(64, 64, 64);
  overflow-x: hidden;
  font-family: var(--body-font); 
}

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner{
  width: 100vw;
  min-height: 700px;
  height: 700px;
  background: url('../assets/imgs/banner/4.png');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.bannerCover{
  width: 100vw;
  height: 100%;
  background-color: rgba(6, 66, 163, 0.404);
  z-index: 13;
}

.bannerCover>.text{
  position: absolute;
  top: 150px;
  left: 17%;
  width: 520px!important;
  height: 600px!important;
}

.bannerCover>.text>h1{
  margin-top: 20px;
  font-size: 80px;
  color: rgb(249, 249, 250);
  font-family: sans-serif!important; 
}

.bannerCover>.text>p{
  font-size: 16px;
  color: rgb(249, 249, 250);
  font-family: sans-serif ;
}

.doit{
  width: 100%;
  height: 600px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.it{
  display: flex;
  flex-wrap: wrap;
}

.doit>.it>.do1{
  width: 300px;
  height: 250px;
  background-color: rgb(249, 249, 255);
  margin: 20px;
  transition:0.3s all;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.doit>.it>.do2{
  width: 300px;
  height: 280px;
  background-color: rgb(249, 249, 255);
  margin: 20px;
  transition:0.3s all;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.doit>.it>.do3{
  width: 300px;
  height: 270px;
  background-color: rgb(249, 249, 255);
  margin: 20px;
  transition:0.3s all;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.doit h4{
  color:rgb(0, 35, 71);
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.doit p{
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(123, 131, 138);
}

.do1>.icon{
  width: 40px;
  height: 40px;
  background: url('../assets/imgs/icons/student.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.do2>.icon{
  width: 50px;
  height: 50px;
  background: url('../assets/imgs/icons/book.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.do3>.icon{
  width: 40px;
  height: 40px;
  background: url('../assets/imgs/icons/carrier.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.doit>.it>div:hover{
  box-shadow: rgba(0, 0, 0, 0.164) 1px 1px 35px;
  transition:0.3s all;
}

.zad{
  color: rgb(0, 35, 71);
  font-size: 36px;
  font-family: sans-serif;
  margin: 40px;
}

.container-fluid{
  width: 100vw;
  margin: 0;
}

.carousel{
  width: 100%!important;
  padding: 150px;
  background: url('../assets/imgs/back/blog6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.carousel-inner{
  box-shadow: black 1px 1px 55px;
}

.carousel-inner img{
  width: 100%;
  height: 600px;
}

.carousel-indicators{
  margin-bottom: 150px;
}

.carousel-control-prev{
  transition:background-color 0.4s;
  margin: 150px 0 150px 150px;
}

.carousel-control-prev:hover{
  background-color: rgba(0, 0, 0, 0.281);
  transition:background-color 0.4s;
}

.carousel-control-next{
  transition:background-color 0.4s;
  margin: 150px 150px 150px 0;
}

.carousel-control-next:hover{
  background-color: rgba(0, 0, 0, 0.281);
  transition:background-color 0.4s;
}


.carousel-indicators li {
  background-color: rgb(119, 136, 153);
}

.img{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img1{
  background: url('../assets/imgs/back/blog1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img2{
  background: url('../assets/imgs/back/blog2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img3{
  background: url('../assets/imgs/back/blog3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.news{
  width: 100%;
  text-align: center;
  height: 120px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 52, 129, 0.741);
  color: white;
  font-size: 25px;
}

.aboutus{
  width: 100vw;
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutus>a>button{
  width: 150px;
  height: 50px;
  color: white;
  background-color: rgb(4, 51, 129);
  border-radius: 5px;
  border: none;
  transition:0.2s all;
}

.aboutus>a>button:hover{
  background-color: rgb(4, 64, 160);
  transition:0.2s all;
}

.aboutus>h1{
  width: 70vw;
  padding-right: 30%;
  text-align: left;
  font-weight: 700;
  font-family: sans-serif;
  color: rgb(56, 61, 73);
}

.aboutus>.contain{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.aboutus>.contain>.map{
  width: 400px;
  height: 400px;
  background: url('../assets/imgs/map/map.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutus>.contain>p{
  width: 400px;
  line-height: 35px;
  font-family: sans-serif;
  color:rgb(102, 102, 102);
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

  .doit{
    height: 750px;
  }

  .zad{
    margin-top: 0px!important;
  }

  .doit>.it{
    margin-bottom: 50px;
  }

  .doit>.it>div{
    width: 220px!important;
    margin: 6px!important;
  }

  .doit>.it>.do1{
    height: 310px;
  }

  .doit>.it>.do2{
    height: 400px;
  }

  .doit>.it>.do3{
    height: 350px;
  }

  .aboutus{
    width: 100vw;
    height: auto;
    padding: 65px 0 65px 0;
  }

  .aboutus>.contain>{
    width: 60vw;
    height: 60vw;
  }

  .map,.aboutus>.contain>p{
    width: 60vw;
    height: auto;
  }

  .aboutus>h1{
    padding-right: 20%;
  }

}


@media screen and (max-width: 768px) {

  .bannerCover>.text{
    position: absolute;
    top: 150px;
    left: 15%;
    width: 250px!important;
    height: 600px!important;
  }
  
  .bannerCover>.text>h1{
    margin-top: 20px;
    font-size: 50px;
    color: rgb(249, 249, 250);
  }
  
  .bannerCover>.text>p{
    font-size: 16px;
    color: rgb(249, 249, 250);
    font-family: sans-serif ;
  }

  .doit{
    height: 1450px;
  }

  .doit>.it{
    flex-direction: column;
  }

  .doit>.it>div{
    width: 300px!important;
    height: auto;
    margin: 30px!important;
  }

  .carousel{
    padding:0 ;
  }

  .carousel-indicators{
    margin:0;
  }
  
  .carousel-control-prev{
    margin: 43% 0 40% 5%;
  }

  .carousel-control-next{
    margin: 43% 5% 40% 0;
  }

  .carousel-control-next:hover,.carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0);
  }

  .img1,.img2,.img3{
    background-size: 90%!important;
  }

  .carousel-inner{
    box-shadow: none;
  }

  
  .aboutus{
    width: 100vw;
    height: auto;
    padding: 45px 0 45px 0;
  }

  .aboutus>.contain>{
    width: 60vw;
    height: 60vw;
  }

  .map,.aboutus>.contain>p{
    width: 60vw;
    height: auto;
  }

  .aboutus>h1{
    padding-right: 0;
  }

  .news{
    font-size: 15px;
    height: 65px;
    border-top: 1px solid white;
    padding: 0 20px 0 20px;
  }

}

@media screen and (max-width: 500px) {
  .news{
    font-size: 18px;
    height: 80px;
    border-top: 1px solid white;
    padding: 0 20px 0 20px;
  }
}
