.subMail{
    width: 360px;
    min-height:100vh;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    margin-right: -200%;
    float: right!important;
    transition: 0.7 all!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subMail>.closeContain{
    width: 100%;
    height: 50px;
}

.subMail>.closeContain>.close{
    width: 50px;
    height: 50px;
    background-color: rgb(4, 51, 129);
    transition: 0.2s all;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius: 10px;
}

.subMail>.closeContain>.close:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.2s all;
}

.subMail>.closeContain>.close>img{
    width: 30px;
    height: 30px;
    transition: 0.2s all;
}

.subMail>.logo{
    margin-top: 30px;
    width: 222px;
    height: 55px;
    background: url('../assets/imgs/logo.png');
}

.subMail>.text{
    width: 305px;
    height: 96px;
    color: rgb(102, 102, 102);
    font-size: 16px;
    margin-top: 50px;
    font-family: sans-serif;
    line-height: 1.7;
}

.subMail>h4{
    width: 85%;
    color: rgb(64, 64, 64);
    margin: 10px;
    font-size: 24px!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subMail>ul{
    width: 85%;
    height: 105px;
}

.subMail>ul>li,.subMail>ul>li>a{
    width: 100%;
    height: 35px;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    color:rgb(64, 64, 64);
    font-family: sans-serif;
}

.subMail>ul>li>.item1{
    width: 20px;
    height: 20px;
    background: url('../assets/imgs/icons/marker.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 15px;
}

.subMail>ul>li>.item2{
    width: 20px;
    height: 20px;
    background: url('../assets/imgs/icons/mail.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 15px;
}

.subMail>ul>li>.item3{
    width: 17px;
    height: 17px;
    background: url('../assets/imgs/icons/call.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 15px;
}

.sendMail{
    width: 85%;
    height: 45px;
    display: flex;
}

.subMail>.sendMail>input{
    width: 218px;
    margin-left: 37px;
    height: 45px;
    border: 1px solid rgb(204, 211, 220);
    font-size: 20px;
    padding: 0 20px 0 20px;
}

.subMail>.sendMail>a>button{
    width: 46px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 153, 192);
    border: none;
    cursor: pointer;
    transition:0.2s all;
}

.subMail>.sendMail>a>button>img{
    width: 30px;
    height: 30px;
}

.subMail>.sendMail>a>button:hover{
    background-color: rgb(46, 82, 139);
    transition:0.2s all;
}